@import url(fonts.css);
@import url(reset.css);


.header h1 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(65, 64, 64);
    text-align: center;
    margin-bottom: 20px;
}

.instagram {
    width: 100%;
    background-color: rgb(30, 50, 49, 0.05);
    padding: 50px;
}

.title_instagram {
    text-align: center;
    font-size: 50px;
    padding-bottom: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.container_items {
    max-width: 1329px;
    margin: 0 auto;
    overflow: hidden;
}

.items {
    margin: 0 -20px;
    font-size: 0;
}

.item {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

}

.bed {
    max-width: 1329px;
    padding: 100px;
    margin: 0 auto;

}

.image_bed {
    display: block;
    margin: auto;
    margin-bottom: 40px;

}

.title-bed {
    color: #2b2929;
    font-size: 40px;
    font-style: normal;
    font-family: "Proxima Nova";
    font-weight: 400;
    line-height: 120%;
    /* 48/40 */
    text-align: center;
    padding-bottom: 30px;
}


.text_bed {
    color: #2b2929;

    font-size: 16px;
    font-style: normal;
    font-family: "Proxima Nova";
    font-weight: 400;
    line-height: 187.5%;
    /* 30/16 */
}

.text_bed p {
    padding-bottom: 15px;
}

.subtitle_bed {
    font-size: 20px;
    line-height: 140%;
    /* 28/20 */
    padding-bottom: 20px;
}



li {
    padding-bottom: 20px;
}

.krovato {
    width: 100%;
    margin: 0 auto;
}

.title_krovato {
    color: #2b2929;
    font-size: 40px;
    font-style: normal;
    font-family: "Proxima Nova";
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    padding-bottom: 40px;

}

.krovato_items {
    max-width: 1329px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    font-size: 0;

}

.krovato_subtitle {
    color: #2b2929;
    font-size: 26px;
    font-style: normal;
    font-family: "Proxima Nova";
    font-weight: 400;
    line-height: 34px;
    padding-bottom: 20px;
}

.krovato_text {
    color: #2b2929;
    font-size: 16px;
    font-style: normal;
    margin-top: 0;
    text-align: center;
    font-family: "Proxima Nova";
    font-weight: 400;
    line-height: 30px;
}

.krovato_item {
    display: inline-block;
    width: 300px;

    padding: 0 10px;

    vertical-align: top;
}

.footer {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-family: "Proxima Nova";
    font-weight: 600;
}